html, body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  width: 300px;
  padding: 1.3em;
  margin-top:1em;
}

.form input{
  padding: 0;
  margin: .8em 0;
  width: 100%;
  height: 1.8em;
  border: 0.1em solid grey;
  border-radius: 5px;
}

.form input::placeholder{
  padding-left: 1em;
  color: black;
}

/* .form input[type="text"]{
  padding-left: 1em;
  color: black;
}

.form input[type="email"]{
  padding-left: 1em;
  color: black;
} */


h1{
  font-weight: lighter;
}
div-btn{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn{
  border: none;
  padding: 1em;
  border-radius: 5px;
  background-color: #f43b47;
}

.bold{
  font-weight: bold;
}

.ball{
  position: absolute;
  top:60px;
  left: 60px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);  height: 12em;
  width: 12em;
  z-index:-1;
}

.text{
  font-size: .8em;
  padding: 0 3em;
}

@media (min-width: 420px){
  .ball{
    position: absolute;
    top:60px;
    left:500px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);  
    height: 15em;
    width: 15em;
    z-index:-1;
  }

  h1{
    font-weight: lighter;
    font-size:3em;
  }
}

@media (min-width: 900px){
  .ball{
    position: absolute;
    top:60px;
    left:500px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);  
    height: 15em;
    width: 15em;
    z-index:-1;
  }

  h1{
    font-weight: lighter;
    font-size:3em;
  }
}

@media (min-width: 1400px){
  .ball{
    position: absolute;
    top:60px;
    left:780px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);  
    height: 15em;
    width: 15em;
    z-index:-1;
  }

  h1{
    font-weight: lighter;
    font-size:3em;
  }
}